* {
  width: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #9b2242;
}
.container {
  width: 400px;
  height: 400px;
  background-color: #9b2242;
}
.head {
  width: 200px;
  height: 200px;
  background-color: orange;
  border-radius: 10rem;
  position: relative;
  left: 50%;
  transform: translate(-50%, 50%);
}
.ear-left {
  width: 100px;
  height: 100px;
  background-color: orange;
  border-radius: 10rem;
  position: relative;
  top: 19px;
  right: 42px;
}
.ear-right {
  width: 100px;
  height: 100px;
  background-color: #ffa500;
  border-radius: 10rem;
  position: relative;
  bottom: 80px;
  left: 138px;
}
.left-eye-body {
  width: 100px;
  height: 100px;
  background-color: #ffdd9e;
  border-radius: 5rem;
  position: relative;
  bottom: 17px;
  left: 62px;
}
.right-eye-body {
  width: 100px;
  height: 100px;
  background-color: #ffdd9e;
  border-radius: 5rem;
  position: relative;
  bottom: 13px;
  right: 56px;
}

.bootom-eye-body {
  width: 100px;
  height: 100px;
  background-color: #ffdd9e;
  border-radius: 5rem;
  position: relative;
  top: 48px;
  right: 33px;
}
.half-circle1 {
  width: 70px;
  height: 35px;
  background-color: #ffdd9e;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  transform: rotate(293deg);
  position: relative;
  top: 26px;
}
.half-circle2 {
  width: 70px;
  height: 35px;
  background-color: #ffdd9e;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  transform: rotate(69deg);
  position: relative;
  top: 26px;
  left: 31px;
}
.lef-eye {
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 5rem;
  box-shadow: 0px 0px 0 5px white;
  position: relative;
  top: 36px;
  left: 26px;
}

.right-eye {
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 5rem;
  box-shadow: 0px 0px 0 5px white;
  position: relative;
  bottom: 16px;
  left: 87px;
}

.nose-container {
  transform: rotate(90deg);
  position: relative;
  top: 40px;
  right: 38px;
}
.nose1,
.nose2 {
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
}
.mouth {
  width: 20px;
  height: 20px;
  background-color: #ffdd9e;
  border-radius: 50%;
  box-shadow: 0px 4px 0;
  position: relative;
  top: 34px;
  left: 39px;
}
